<form action="/mensajes" method="post">
    <input id="email" name="email" type="email" placeholder="juan@somemail.com"/> 
    <input id="nombre" name="nombre" type="text" placeholder="Juan"/>
    <input id="apellido" name="apellido" type="text" placeholder="Perez"/>
    <input id="edad" name="edad" type="text" placeholder="30"/>
    <input id="alias" name="alias" type="text" placeholder="juancho"/>
    <input id="avatar" name="avatar" type="text" placeholder="URL de la imagen"/>
    <input id="mensaje" name="mensaje" type="text" placeholder="Mensaje a enviar"/>
    <button type="submit">Enviar</button>
</form>