<form action="/login" method="POST">
    <div>
        <label for="user">Usuario: </label>
        <input type="text" name="user" id="user">
    </div>
    <button type="submit">Log In</button>
</form>