<h3>Productos</h3>
<form id="formulario" action="/productos" method="post">
    <input type="text" id="title" name="title" placeholder="Título"><br>
    <input type="text" id="price" name="price" placeholder="Precio"><br>        
    <input type="text" id="thumbnail" name="thumbnail" placeholder="URL de la imagen"><br>
    <button type="submit">Agregar producto</button>
</form>