body {
    margin-left: 10px;
}

.email {
    font-weight: bold;
    color: blue;
}

.fecha {
    color: brown;
}

.mensaje {
    color: green;
    font-style: italic;
}

.avatar {
    width: 40px;
    height: 40px;
}